{% extends "./base.html" %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block page_header %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'quiz_app:home' %}"> خانه </a></li>
            <li class="breadcrumb-item active" aria-current="page"> حضورغیاب </li>
        </ol>
    </nav>
	
	{% for i in paye %}
		<div class="card" style="margin-left: 8%; margin-right: 8%; border-radius: 10px; box-shadow: 15px 20px 0px rgba(0,0,0,0.1); margin-bottom: 15px;">
  			<div class="card-header text-center border-success">
				<h2 style="margin: 10px">حضور غیاب {{i.name}}</h2>
			</div>
			<div class="card-body">
				<div class="card-text">
					<div style="font-size: 17px" class="alert alert-info alert-dismissible fade show">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>راهنمایی:</strong> 
						<ul>
							<li>لطفا نام و نام خانوادگی خود را درون فیلد پایین بنویسید و ثبت حضور را بزنید.</li>
						</ul>
					</div>
					<form action="{% url 'quiz_app:abpresence' %}" method="post" style="margin: 30px">
						{% csrf_token %}
						{{ form|crispy }}
						<div class="text-center">
							<button name="submit" class="btn btn-success">ثبت حضور</button> 
						</div>
					</form>
				</div>
			</div>
		</div>

    {% empty %}
		<h2>حضور غیابی وجود ندارد!</h2>
    {% endfor %}

{% endblock page_header %}