{% extends "./base.html" %}

{% block page_header %} 
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'quiz_app:home' %}"> خانه </a></li>
            <li class="breadcrumb-item active" aria-current="page"> ساخت و ویرایش برنامه زمانی برای امتحانات (ویژه معلمان) </li>
        </ol>
    </nav>
    <h2>برنامه زمانی برای امتحانات</h2>
{% endblock page_header %}

{% block content %}

    <div style="font-size: 17px" class="alert alert-info alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>راهنمایی:</strong> 
        <ul>
            <li>برای ساخت برنامه زمانی برای امتحان روی گزینه ساخت برنامه زمانی برای امتحان کلیک کنید.</li>
            <li>برای ویرایش برنامه زمانی برای امتحان روی ویرایش کلیک کنید.</li>
        </ul>
    </div>

    <div style="margin-bottom: 20px">
        <a href="{% url 'quiz_app:exam_schedulingn' %}" style="font-size: 15px" class="btn btn-primary">ساخت برنامه زمانی برای امتحان</a>
    </div>

	<div class="table-responsive">
		<table class="table table-hover table-bordered w-100 text-center" style="background-color: white;">
			<thead>
				<tr>
					<th>تاریخ شروع</th>
					<th>تاریخ پایان</th>
					<th>ویرایش</th>
				</tr>
			</thead>
			<tbody>
				{% for exam_scheduling in exam_schedulings %}
						<tr>
							<td>{{exam_scheduling.date_start}}</td>
							<td>{{exam_scheduling.date_stop}}</td>
							<td><a class="badge badge-primary" href="{% url 'quiz_app:exam_schedulinge' exam_scheduling.id %}">ویرایش</a></td>
						</tr>
				{% empty %}
					<tr>
						<th>----</th>
						<th>----</th>
						<th>----</th>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock content %}