{% extends "./base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block head %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
{% endblock head %}

{% block page_header %} 
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'quiz_app:home' %}"> خانه </a></li>
            <li class="breadcrumb-item"><a href="{% url 'quiz_app:news' %}"> ساخت و ویرایش اخبار </a></li>
            <li class="breadcrumb-item active" aria-current="page"> ساخت خبر </li>
        </ol>
    </nav>
    <h2>ساخت خبر</h2>
{% endblock page_header %}

{% block content %}
    <form action="{% url 'quiz_app:newsn' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.name|as_crispy_field}}
		{{form.description|as_crispy_field}}
		{{form.image|add_class:"form-control"|as_crispy_field}}
		{{form.status|as_crispy_field}}
        {{ form.media }}
        <button name="submit" class="btn btn-outline-success">ثبت خبر</button> 
    </form>

{% endblock content %}