{% extends "quiz_app/base.html" %}
{% load crispy_forms_tags %}

{% block page_header %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'quiz_app:home' %}"> خانه </a></li>
            <li class="breadcrumb-item active" aria-current="page"> تغییر رمز عبور </li>
        </ol>
    </nav>
    <h2>تغییر رمز عبور</h2>
{% endblock page_header %}

{% block content %} 
    <form action="{% url 'users:password_change' %}" method="post">
        {% csrf_token %}
        
        <div class="row">
            <div class="col-6">{{ form.old_password|as_crispy_field }}</div>
            <div class="col-6"></div>
            <div class="col-6">{{ form.new_password1|as_crispy_field }}</div>
            <div class="col-6">{{ form.new_password2|as_crispy_field }}</div>
        </div>
        
        <button name="submit" class="btn btn-outline-success">تغییر گذرواژه</button> 
    </form>
{% endblock content %}