{% extends "quiz_app/base.html" %}

{% block page_header %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'quiz_app:home' %}"> خانه </a></li>
            <li class="breadcrumb-item active" aria-current="page"> تغییر رمز عبور </li>
        </ol>
    </nav>
    <h2>عملیات با موفقیت انجام شد!</h2>
{% endblock page_header %}

{% block content %} 
    <div class="card text-center mb-3">
        <div class="card-header bg-success text-white">موفقیت</div>
        <div class="card-body">
            <p class="card-text">رمز عبور با موفقیت انجام شد!</p>
        </div>
    </div>
{% endblock content %}